@use '@/styles/abstracts/_variables.scss' as variables;
@use '../abstracts/_mixins.scss' as mixins;


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #777 transparent;
}


.spacer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}


.hide-text-overflow-line-1 {
  @include mixins.hide-text-overflow;
  -webkit-line-clamp: 1;
}

.default-disabled-state {
  @include mixins.default-disabled-state;
}

.flex-grow {
  flex-grow: 1;
}

.application-unfocused {
  opacity: 0.6;
}