@use '../abstracts/_variables.scss' as variables;
@use '../abstracts/_mixins.scss' as mixins;

* {
  pointer-events: auto;
}

html,
body,
#app {
  padding: 0;

  height: 100dvh;
  width: 100dvw;

  overflow: hidden !important;
  background-color: variables.get-color('main-background-color');

  @include mixins.default-font;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}


html {
  margin: 40px 0 0;
}

:root {
  --main-bg: #222436;
  --main-bg-selected: #2f334d;
  --main-bg-overlayed: #141520;

  --cmd-title-color: #86e1fc;
  --cmd-shortcut-color: #f39069;

  --cmd-selected-bg: #ffffff;
  --cmd-selected-text: #1e1e1e;

  --dialog-bg: #222436;
  --dialog-border: #589ed7;
  --dialog-active: #ff966c;

  --label-border-passive: #c8d3f5;
  --link-text: #9277c5;
  --text-active: #82aaff;

  --branch-mode-bg: #3b4261;

  --skill-selected-bg: #2d3f76;
  --color-positive: #33d17a;
  --color-negative: #f66151;

  --editor-line-text: #3b4261;
  --editor-line-current: #ff966c;
}


