@use '../abstracts/_variables.scss' as variables;
@use '../abstracts/_mixins.scss' as mixins;

* {
  pointer-events: auto;
}

html,
body,
#app {
  padding: 0;
  margin: 0;

  height: 100dvh;
  width: 100dvw;

  overflow: hidden !important;
  background-color: var(--main-bg);

  @include mixins.default-font;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#app {
  display: flex;
  flex-direction: column;
}


html {
  margin: 40px 0 0;
}

:root {
  --main-bg: #1d1d20;
  --main-dialog-bg: #36363a;
  --text-main-dialog: #ffffff;

  --main-divider-bg: #3f3f41;

  --text-active: #e0e0e0;
  --text-inactive: #555557;

  --main-button-bg: #343436;
  --main-element-focused: #5a82b6;

  --main-input-bg: #343436;
  --text-main-input-label: #a4a4a5;
  --text-main-input: #e3e3e3;
  --main-input-icon: #c1c1c2;


  --text-process-list-header: #777779;
  --text-process-list-header-hovered: #bbbbbc;
  --process-list-header-icon: #3b3b3e;

  --text-process-list-item: #ffffff;
  --process-list-item-bg: #1d1d20;
  --process-list-item-bg-focused: #233751;


  --process-footer-bg: #2e2e32;
  --process-footer-bg-inactive: #222226;

  --system-positive-color: #398a5c;
  --system-positive-text: #33d17a;

  --system-negative-bg: #563d3f;
  --system-negative-text: #ff938b;
  --system-negative-bg-hovered: #634244;
}


